* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
  --aquapoint-logo-blue: #29aae1;
  --aquapoint-gray: #bababa;
  --aquapoint-gray-hover: #9d9b9b;
}

body {
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.nav-item .nav-link{
    border: 2px solid #a8a7a7;
    border-radius: 10px;
    padding: 2px 20px !important;
}

.nav-item .nav-link.active{
    border: 1px solid var(--aquapoint-logo-blue);
    background-color: var(--aquapoint-logo-blue);
}

.nav-item .router-link-exact-active{
  border: 1px solid var(--aquapoint-logo-blue) !important;
  background-color: var(--aquapoint-logo-blue) !important;
  color: white !important;
  border-radius: 5px;
  padding: 4px 10px;
}

.carousel-caption {
    z-index: 2;
    color: white !important;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.7));
}

.bg-orange{
  background-color: #fd7302 !important;
}

.bg-aquapoint-gray {
  background-color: var(--aquapoint-gray) !important;
}

.bg-aquapoint-blue {
  background-color: var(--aquapoint-logo-blue) !important;
}

.btn.bg-aquapoint-gray:hover {
  background-color: var(--aquapoint-gray-hover) !important;
}

.btn-outline-secondary.btn-file-input:hover{
    background-color: var(--aquapoint-logo-blue);
}
