* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bs-body-font-family: 'Poppins', sans-serif;
  --aquapoint-logo-blue: #4DA6AC; /* old #29aae1 */
  --aquapoint-gray: #bababa;
  --aquapoint-gray-hover: #9d9b9b;
}

body {
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.nav-item .nav-link{
    border: 2px solid #a8a7a7;
    border-radius: 10px;
    padding: 2px 20px !important;
}

.nav-item .nav-link.active{
    border: 1px solid var(--aquapoint-logo-blue);
    background-color: var(--aquapoint-logo-blue);
}

.nav-item .router-link-exact-active{
  border: 1px solid var(--aquapoint-logo-blue) !important;
  background-color: var(--aquapoint-logo-blue) !important;
  color: white !important;
  border-radius: 5px;
  padding: 4px 10px;
}

.carousel-caption {
    z-index: 2;
    color: white !important;
}

.carousel-item img {
    height: 600px;
    object-fit: cover;
}

.carousel-item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.7));
}

.bg-orange{
  background-color: #fd7302 !important;
}

.bg-aquapoint-gray {
  background-color: var(--aquapoint-gray) !important;
}

.bg-aquapoint-blue {
  background-color: var(--aquapoint-logo-blue) !important;
}

.btn.bg-aquapoint-gray:hover {
  background-color: var(--aquapoint-gray-hover) !important;
}

.btn-outline-secondary.btn-file-input:hover{
    background-color: var(--aquapoint-logo-blue);
}


.main-titles {
    color: rgb(33,37,41);
    font-size: 2.7vh;
    font-weight: bold;
}

.spacer {
    position: relative;
    top: 0;
    left: 0;
    height: 3vh;
    width: 100%;
}

.contact-form {
  width: 95% !important;
  height: 3.4vh !important;
  padding-left: 0.5vh !important;
}

.about-us-image {
  position: relative;
  width: 90%;
  border-radius: 1.5vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s ease;
}

.about-us-image:hover {
  transform: scale(1.03);
}

.container-spacer {
  margin-bottom: 5%;
}

.column-title {
  color: rgb(33,37,41);
  font-size: 2.5vh;
}

.column-desc {
  font-size: 1.8vh;
  margin-top: 5%;
  color: rgb(33,37,41);
}

.about-us-image-feature {
  position: relative;
  width: 40%;
  left: 25%;
  border-radius: 1.5vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.5s ease;
}

.about-us-image-feature:hover {
  transform: scale(1.05);
}

.partner {
  position: relative;
  display: inline-block;
  left: 2%;
  top: 5%;
  width: 13%;
  height: 13vh;
  margin-right: 2%;
  transition: 0.5s ease;
}

.partner:hover {
  transform: scale(1.1);
}

.partner > img {
  width: 45%;
  position: absolute;
  left: 25%;
  cursor: pointer;
}